[Unit]
Description=PS4-Waker-API Service
After=network.target

[Service]
WorkingDirectory=/home/pi/ps4-waker-api
ExecStart=/usr/bin/node app.js
Restart=on-failure
User=pi
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
