[Unit]
Description=PS4-Waker-API Service
After=network.target

[Service]
WorkingDirectory=/home/pi/ps4-waker-service
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
